language: node_js
node_js:
  - "12"
  - "10"
os:
  - "linux"
  - "osx"
  - "windows"
env:
  - ESLINT_VERSION=7
  - ESLINT_VERSION=6
before_script:
  - npm i eslint@$ESLINT_VERSION --no-save
  - npm install -g codecov
script:
  - npm test -- --coverage --coverageDirectory "./coverage/"
  - codecov
